//variable can store any CSS value
//sass mai variable "$" dollar ka sign use krke assign krte hai. $variable name : value;
//and global variable "!global" asey assign krte hai. $variable name : value !global;
//global variable app kahi bhi use kar sakte hai
$color1: #F8F594 !global;
$color2: #5d12e7;
$color3: #316901;